# Mix 写入编译产物的目录。
/_build/

# 如果运行 "mix test --cover"，覆盖率报告会生成在这里。
/cover/

# Mix 下载依赖源码的目录。
/deps/

# 第三方依赖（如 ExDoc）生成文档的输出目录。
/doc/

# 忽略 .fetch 文件，方便本地编辑项目依赖。
/.fetch

# 如果 VM 崩溃，会生成转储文件，同样忽略。
erl_crash.dump

# 同时忽略归档产物（通过 "mix archive.build" 构建）。
*.ez

# 临时文件，例如来自测试。
/tmp/

# 忽略包tar包（通过 "mix hex.build" 构建）。
zongzi-*.tar

